{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<div style="padding-left: 20px;  padding-top: 20px;">
<h1>{{ post.title }}</h1>

<p class="date">
Published {{ post.publish }} by {{ post.author }}
</p>
{{ post.body|linebreaks }}
{% with comments.count as total_comments %}
</div><br><br>
<div style="padding-left: 20px;" >
<h2>
{{ total_comments }} comment{{ total_comments|pluralize }}
</h2>
{% endwith %}
{% for comment in comments %}
<div class="comment">
<p class="info">
Comment {{ forloop.counter }} by {{ comment.name }}
{{ comment.created }}
</p>
{{ comment.body|linebreaks }}
</div>
{% empty %}
<p>There are no comments yet.</p>
{% endfor %}
{% if new_comment %}
<h2>Your comment has been added.</h2>
{% else %}
<h2>Add a new comment</h2>
</div>

<div style="padding-left: 20px;">
<form action="." method="post">
{{ comment_form.as_p }}
{% csrf_token %}
<p><input class="btn btn-primary" type="submit" value="Add comment"></p>
</form>
</div>
{% endif %}
{% endblock %}